:root {
  /* default theme color */
  /* can be overrided by uses `themeConfig` option */
  --slidev-theme-primary: #5d8392;
}

.slidev-layout {
  em {
    color: #DCDCAA;
  }

  u {
      text-decoration: #CE9178 underline;
  }

  strong {
    color: #569CD6;
  }

  ul, ol {
    li::marker {
      color: #CE9178;
    }
  }

  a {
    color: #569CD6;
    border-style: solid;
  }

  a:hover {
    color: #9CDCFE;
    border-color: #9CDCFE;
  }

  a:hover:after {
    content: ' [↗]';
    font-size: 0.75em;
  }

}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-6xl leading-20;
  }

  h1 + p {
    @apply -mt-2 opacity-50 mb-4;
  }

  p + h2,
  ul + h2,
  table + h2 {
    @apply mt-10;
  }
}
